.Player {
	transform: translateZ(0);
	z-index: 85;
	position: absolute;
	top: 0;
	left: 0;
	width: 5em;
	height: 6em;
	background-position: 0 0;
	animation: bird 0.4s steps(4) infinite;
	background: url('../images/b1956f93.db.png');
}

#player {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

@-webkit-keyframes bird {
  from {
    background-position: 0  0;
  }
  to {
    background-position: 0 -1em;
  }
}

.Memes {
	position: absolute;
	z-index: 90;
	transform: translateZ(0);
	top: 0;
	left: 0;
	width: 11em;
	height: 100em;
	background: url('../images/232112e9.memebox1.png');
}

.Memes1 {
	position: absolute;
	z-index: 90;
	transform: translateZ(0);
	top: 0;
	left: 0;
	width: 11em;
	height: 100em;
	background: url('../images/232112e9.memebox1.png');
}

.Memes2 {
	position: absolute;
	z-index: 90;
	transform: translateZ(0);
	top: 0;
	left: 0;
	width: 11em;
	height: 100em;
	background: url('../images/232112e9.memebox1.png');
}


.Scoreboard {
	z-index: 95;
	position: absolute;
	left: 50%;
	top: 10em;
	height: 30em;
	width: 45em;
	margin-left: -20em;
	box-sizing: border-box;
	background: url('../images/617bb0a0.drakeno.jpg');
	text-align: center;
	-webkit-transform: translate(0, -40em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.Scoreboard.is-visible {
	-webkit-transform: none;
}

.Scoreboard-restart {
	margin-top: 15em;
	font-size: inherit;
	padding: 0.4em 1.5em;
	border: 0.2em solid white;
	background: none;
	cursor: pointer;
}
.Scoreboard-restartText {
font-family: 'Comic Sans MS', serif;
font-size: 2.4em;
color: white;
}
body {
background: black;
}
.browsehappy {
margin: 0.2em 0;
background: ?#?ccc?;
color: #000;
padding: 0.2em 0;
}
.GameCanvas {
font-size: 10px;
position: absolute;
left: 50%;
top: 50%;
width: 102.4em;
height: 57.6em;
margin-left: -51.2em;
margin-top: -28.8em;
overflow: hidden;
background-repeat: repeat-x;

}

.MovingBackground {
transform: translateZ(0);
background: url('../images/dde18848.1.png') 0 0,
						url('../images/e4c72338.composit3.png') 40% 0,
            url('../images/b36ef1b6.BG.png') 80% 0;
animation: slideright 900s infinite linear;
}

.PausedBackground {
animation-play-state: paused;
}

@keyframes slideright {
  from { background-position: 50000%; }
  to { background-position: 0; }
}

.textMuteSound {
	position: relative;
  z-index: 100;
  color: black;
  font-size: 24px;
  font-weight: bold;
	float: right;
	margin: 1em;
}

#rotate {
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg); /* Standard syntax */
}

#score {
	position: relative;
  z-index: 100;
}
